@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.sidebar-admin-blue-primary {
    background-color: darkslateblue;
}

.sidebar-admin-gold-primary {
    background-color: darkgoldenrod;
}

.sidebar-admin-gray-primary {
    background-color: darkslategray;
}

.sidebar-admin-red-primary {
    background-color: darkred;
}

.sidebar-admin-green-primary {
    background-color: darkolivegreen;
}

.nav-pills .nav-link {
    color: black;
}

.login-page {
    background-color: rgba(230, 168, 14, 0.3);
}